.recentExhibitions,
.logoArea,
.galery {
  margin-top: 7.1875rem;
  margin-bottom: 7.1875rem;
}

.exhibitionArea {
  display: flex;
  gap: 2rem;
  overflow-x: scroll;
  max-width: 100%;
  padding: 0 7.1875rem;
}

.exhibitionArea::-webkit-scrollbar {
  display: none;
}

.logoArea {
  display: flex;
  justify-content: center;

  & > img {
    width: 80%;
    max-width: 29.75rem;
    width: 80%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .exhibitionArea {
    padding: 0 6.5%;
  }
}
