.horizontalScrollContainer {
  display: flex;
  align-items: center;
  transition: all ease 0.5s;

  .arrowIcon {
    position: absolute;
    z-index: 3;
    background: linear-gradient(-90deg, rgba(10, 10, 10, 0.74) 0%, rgba(10, 10, 10, 0) 100%);
    height: 100%;
    width: 5rem;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
  }

  .arrowLeft {
    transform: rotate(180deg);
    left: 0;
  }

  .arrowRight {
    right: 0;
  }

  &:hover .arrowIcon {
    opacity: 1;
  }
}

.itemsArea {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  overflow-x: scroll;
  max-width: 100%;
  width: 100%;
  padding: 0 7.1875rem;
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.itemsArea::-webkit-scrollbar {
  display: none;
}

@media (max-width: 960px) {
  .exhibitionArea {
    padding: 0 6.5%;
  }

  .arrowIcon {
    display: none;
  }
}

@media (max-width: 600px) {
  .exhibitionArea {
    padding: 0 6.5%;
  }
}
