.container {
  width: 100%;
  height: 2.81rem;
  display: flex;
  align-items: flex-start;
  border: 1px solid var(--border-color);
  border-radius: 0.4375rem;
  background-color: var(--background-color-2);
  box-shadow: 0px 8px 12px rgba(134, 134, 134, 0.03);
  display: flex;
  align-items: center;
  font-size: 1rem;
  outline: none;
}

.input,
.textarea {
  width: 100%;
  height: 2.81rem;
  background-color: transparent;
  border: none;
  line-height: 100%;
  outline: none;
}

.placeholder {
  display: flex;
  padding: 0 0.7rem;
  gap: 0.3rem;
  text-align: center;
  color: var(--background-contrast-color-2);
  font-size: 0.875rem;
  line-height: 1rem;
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: var(--border-color);
}

.required {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .container {
    width: 90vw;
  }
}
